
@media (min-width: 992px) {
    #browse-items .item {
        flex: 0 0 25% !important;
        max-width: 25% !important;
        padding: 10px;
    }
}


#browse-items .card-img-top {
    height: 250px !important; 
    object-fit: contain !important;
    background: #f8f9fa;
}